{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Genre List
    <a style="float: right" href="{% url 'shelves:genre-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  {% if genre_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Genre</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for genre in genre_list %}
        <tr>
          <td>
            {{ genre.id }}
          </td>
          <td>
            {{ genre.genre }}
          </td>
          <td>
            <a href="{% url 'shelves:genre-update' pk=genre.id %}">
              Update
            </a>
          </td>
          <td>
            <a style="color: red"
              href="{% url 'shelves:genre-delete' pk=genre.id %}">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no genres in the bookshelf.</p>
  {% endif %}
{% endblock %}
